---
title: Home
layout: default
group: "navigation"
---

<section>
    <div class="container">
        <div class="features">
        {% for post in paginator.posts %}
            <article>
                <section class="excerpt">
                <header>
                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                </header>
                    {{ post.excerpt }}
                </section>
                <footer>
                    <ul class="actions">
                        <li><a href="{{ post.url }}" class="button read-more icon fa-long-arrow-right">Read More</a></li>
                    </ul>
                </footer>
                <div class="clear"></div>
            </article>
        {% endfor %}
        </div>
        <!-- Pagination links -->
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="prev icon fa-chevron-left">Prev</a>
          {% else %}
            <span class="prev icon fa-chevron-left">Prev</span>
          {% endif %}

          <span class="page-number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next icon fa-chevron-right">Next</a>
          {% else %}
            <span class="next icon fa-chevron-right">Next</span>
          {% endif %}
        </div>

    </div>
</section>


