---
title: Media Timeline
layout: default
group: "navigation"
---
{% yaml_to_liquid %}

<section id="one">
    <div class="container">
        <h2 class="align-center">Media Timeline</h2>

        <div class="timeline-container">

            {% for n in page.yml.entries %}
                <div class="timeline-point">
                    <div class="timeline-point-info">
                        <a href="{{ n.url }}">
                            <h6>{{ n.title }}</h6>
                            <div class="img-container">
                                <img src="/images/timeline/{{ n.image }}">
                                <span class="go icon {% if n.type == 'video' %}fa-play-circle{% elsif n.type == 'slide' %}fa-arrow-circle-right{% else %}fa-arrow-circle-right{% endif %}"></span>
                            </div>
                        </a>
                    </div>
                    <span class="date">{{ n.date }}</span>
                    <span class="point icon {% if n.type == 'video' %}fa-video-camera{% elsif n.type == 'slide' %}fa-picture-o{% else %}fa-link{% endif %}"></span>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
