<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <a href="/" class="image avatar"><img src="/images/sexyface.png" alt=""/></a>
            <h1 id="logo"><a href="/">Diogo Mónica</a></h1>
            <p>I'm the Security Lead <b>@Docker</b>, previously led Platform Security <b>@Square</b>, Startup Advisor, Security Researcher, IEEE Volunteer.</p>
        </header>
        <nav id="nav">
            <ul>
                <li{% if page.title == "Home" %} class="active"{% endif %}><a href="/">
                    Home</a></li>
                <li{% if page.title == "Speaker Kit" %} class="active"{% endif %}><a href="/speakerkit">
                    Speaker Kit</a></li>
                <li{% if page.title == "Media Timeline" %} class="active"{% endif %}><a href="/mediatimeline">
                    Media Timeline</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://twitter.com/diogomonica" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://github.com/diogomonica" class="icon fa-github"><span class="label">Github</span></a></li>
            </ul>
        </footer>
    </section>

