<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="/images/sexyface.png" alt="" /></span>
            <h1 id="logo"><a href="/">Diogo Mónica</a></h1>
            <p>I currently lead the Security Team @Docker.<br />
            Previously led the Platform Security Team @Square.</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a {% if page.title == "Home" %}class="active"{% endif %} href="/">Home</a></li>
                <li><a {% if page.title == "About Me" %}class="active"{% endif %} href="/about">About Me</a></li>
                <li><a {% if page.title == "Speaker Kit" %}class="active"{% endif %} href="/speakerkit">Speaker Kit</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://twitter.com/diogomonica" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://github.com/diogomonica" class="icon fa-github"><span class="label">Github</span></a></li>
            </ul>
        </footer>
    </section>

