@import 'vars';
@import 'mixins';

$size-header: 20em;

/* Basic */

	body, input, select, textarea {
		font-size: 16px;
		line-height: 26px;
	}

/* Header */

	#header {
		width: $size-header;
	}

/* Wrapper */

	#wrapper {
		@if $side-header == 'right' {
			/*padding-right: $size-header;*/
			padding-left: $size-header;
		}
		@else {
			padding-left: $size-header;
		}
	}

/* Footer */

	#footer {
		display: none;
	}
