@import 'vars';
@import 'mixins';

$size-header: 20em;

/* Basic */

	body, input, select, textarea {

	}

/* Header */

	#header {
		width: $size-header;

		> header {
			padding: 30px;
		}

		> footer {
			padding: 20px;
		}
	}

/* Wrapper */

	#wrapper {
		@if $side-header == 'right' {
			/*padding-right: $size-header;*/
			padding-left: $size-header;
		}
		@else {
			padding-left: $size-header;
		}
	}

/* Main */

	#main {
		> section {
			> .container {
				padding: 60px 0 30px 0;
			}
		}
	}

/* Pagination */

	.pagination {
		margin: 30px 0 0;
	}

/* Footer */

	#footer {
		display: none;
	}
