<!DOCTYPE HTML>
<html>
    {% include /head.html %}
    <body>
    <!-- Designed and implemented by Kelly Tran - https://github.com/kellybelly -->
        <div id="wrapper">
            {% include /header.html %}

            <div id="info-header">
                <div class="bg-image"></div>
                <div class="bg-overlay"></div>
                <div class="bg-content">
                    <a href="/"><img src="/images/sexyface.png"></a>
                    <p>I currently lead the Security Team at <b>Docker</b>. Previously led the Platform Security Team at <b>Square</b>.</p>
                </div>
            </div>

            <!-- Main -->
            <div id="main">
                {{ content }}
            </div>

            {% include /footer.html %}
		</div>
	</body>
</html>
