---
layout: default
---
<section>
    <div class="container">
        <header class="major">
            <h2>{{ page.title }}</h2>
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        </header>

        <section class="post-content">
            {{ content }}
        </section>

        <div class="pagination">
            {% if page.previous %}
                <a href="{{ page.previous.url }}" class="prev icon fa-chevron-left">Prev</a>
            {% endif %}
            {% if page.next %}
                <a href="{{ page.next.url }}" class="next icon fa-chevron-right">Next</a>
            {% endif %}
        </div>
    </div>
</section>
